.container{
    height: 500px;
    background-color: #41489a;
    border-radius: 5%;
    /* width: 300px; */
    margin-top: 50px;
    width: 260px;
    box-shadow: 5px 5px 5px solid grey;
    
    
}
.user{
    text-align: center;
  
}
.user img{
    margin-top: 50px;
    margin-bottom: 20px;
}
.form-group{
    color: white;
}


.btn1{
    width: 100%;
    background-color:#00d1ba;
    
    color: white;
}
.btn2{
    width: 100%;
    background-color: white;
   

}