<div class="container">
  <div class="user center">
      <img src="../../../assets/images/user.png" alt="" height="80">
  </div>
<form >
 
  <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control">
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control">
  </div>
  <p style="text-align: end;margin-top: 5px;"><a style="color: white;text-decoration: none;" routerLink="/forgot">Forgot Password</a></p>
  </form> 
  <div class="login">
    <button class="btn btn1"routerLink="/home">Log In</button>
</div>
  
  <hr style="opacity: 1; color: white;">
  <div class="signup">
    <button class="btn btn2" routerLink="/signup">Sign Up</button>
</div>
</div>
